*

In [30]:
type(2) #type() yaparak paranteez içerisinde verdiğimiz değer, tanımın data typeını bize verir.

int

In [33]:
type(2.0)

float

In [38]:
type(True) #eğer 'true' tanımınındaki 't' harfini küçük yazarsam error verir. Bu yüzden büyük harfle yazmalıyız.

bool

*type casting(tip dönüştürmesi)

In [41]:
int(2.4)

2

In [40]:
int(2.9) #sayıları yuvarlamaz, sadece tam olan kısmını alır. Noktadan sonrası önemli değil, tam kısmını alırız.

2

In [44]:
float(4.2)

4.2

# Variables (değişkenler)

* Bazı değerleri bilgisayarın hafızasında tutmak ve daha sonra bunlara verdiğimiz adlara erişmek isteyebiliriz. Buna variables'lar ile gerçekleştireceğiz.

* İlk olarak yapacağımız şey variable'a vereceğimiz ismi yazmak. Bu isim penguen, uzunluk, maaş gibi istediğiniz bir isim olabilir (burada dikkat edilmesi gereken yer, verilecek ismin daha önceden python'ın defult olrak kullanmadığı isimler olması. Mesela if, continue, for gibi keyword'ler daha çnceden ayrıldığı için bunları variable ismi olarak kullanamayız)

* Python'ın daha önceden kendisine ayırdığı isimler (reserved words)
   
   and,         del,       from,     not,      while,
   as,        elif,      global,   or,       with,
   assert,      else,      if,       pass,     yield,
   break,       except,    import,   print,    True,
   class,       exec,      in,       raise,    False,
   continue,    finally,   is,       return,
   def,         for,       lambda,   try.

* Variable ismini seçtikten sonra bu ismin değerinin ne olacağını söylemeliyiz. Bu aşamadan sonra python verdiğimiz ismi gördüğünde aslında verdiğimiz değeri çağırıyor olacak.

* Bu değer atama işlemini '=' sembolü ile yapacağız. Normalde bildiğimiz anlamdan farklı bu '=' işareti. Eşitliğin sağındaki değeri solda yazdığımızın değeri olarak ata demiş oluyoruz bununla. Bu işleme 'variable assigment' deniyor.

# String
 * Stringler karakterlerden oluşan bir dizidir aslında. Stringlerin elemanları karakterlerdir.
 * Karakterler: (a, b, c, d...) gibi harfler, (*, ?, =, <, >, /...) gibi özel karakterler, (1, 2, 3...) gibi yazı biçiminde sayılar, boşluk(space) karakter olarak adlandırılabilir.
 * String'ler karakterlerden veya bunların kombinasyonlarından oluşabilirler.

 * Bir şeyin string oldupunu belirtmek için yazacaklarımızı ikili tırnak("") veya tekli tırnak('') içinde yazarız.
 * Tırnak işaretlerinin yaptığı şey aslında: Bu tırnak işaretlerinin içinde verdiğim diziye karakter dizisi olrak davran, öyle algıla demek.
 * İkili tırnak de yazsak, tekli tırnak içinde de yazsak aynı şekilde algılarlar. Önemli olan hangisiyle başladıysak onunla bitirmek.
 
 * Scalar ve Non-Scalar objelerden bahsetmiştik. Non-Scalar veri tiplerinin daha alt parçalara bölünebilen, elemanlar içeren yapılar olduğunu konuşmuştuk. String Non-Scalar bir veri tipi. İçcel yapı olarak karakterlerden oluşuyorlar.

 * Stringler immutable veri tipleridir.
 * Immutable: Elemanlarının değerleri değiştirilemez.

In [3]:
#Hangisiyle başladıysak onunla bitirmeliyiz.
"a" 
'a'

'a'

In [8]:
#Burada +'ya operatör olarak davranılmıyor, yazı olarak davranılıyor
"S + 10"

'S + 10'

 * Hangisiyle başladıysak onnunla bitireceğimiz için kesme işareti ve alıntı yapmada hangisiyle başladığımız önemli olabilir.

In [9]:
"Bu gün Kadıköy'e gidiyorum"

"Bu gün Kadıköy'e gidiyorum"

In [10]:
'Bugün kadıköy'e gidiyorum

SyntaxError: invalid syntax (357955283.py, line 1)

In [11]:
"Bana "Bugün ne yapıyorsun?" dedi "

SyntaxError: invalid syntax (878755970.py, line 1)

In [12]:
'Bana "Bugün ne yapıyorsun" dedi'

'Bana "Bugün ne yapıyorsun" dedi'

In [13]:
'Bana "Bugün Kadıköy'e gidiyorum" dedi '

SyntaxError: invalid syntax (3889464132.py, line 1)

# Escape sequences

In [14]:
"Bana \"Bugün ne yapıyorsun\" dedi"

'Bana "Bugün ne yapıyorsun" dedi'

In [15]:
'Bugün Kadıköy\'e gidiyorum.'

"Bugün Kadıköy'e gidiyorum."

In [16]:
print("hey \n nasılsın") # "\n" alt satıra geçirdi

hey
 nasılsın

In [17]:
print("Hey\tnasılsın") # "\t" aynı satır üzerinde boşluk bıraktı

Hey	nasılsın

In [18]:
print("hmm \")

SyntaxError: EOL while scanning string literal (2002776260.py, line 1)

In [20]:
print("hmm \\") # Yukarıda tek '\' olduğu için eror verdi. Çünkü '\' kendinde sonra gelen çift tıırnağı bir özel karakter,
# string olarak algıladı. Bu yüzden çift tırnağı korudu. Bşdaki çift tırnak çalıştıdığımda tek olarak, ikicisi korunduğu için
# çift tırnak olarak çıktı verdi. Tırnaklar, işlem başladığı gibi bitmediği için kod hata verdi. Burda çift '\' kullanarak
# bu hatanın önüne geçmiş olduk.

hmm \

# Stringlerde değer atama (variable assignment)
 * Sayısal veri tiplerinde nasıl ki değer atayabiliyor, verilerin değerlerine isim verebiliyorsak, aynısını stringler için de yapabiliyoruz.

In [22]:
merhaba = "Merhaba nasılsın bugün?"
print(merhaba)

Merhaba nasılsın bugün?

# String Concatenation
 * Operatörlerin uygulandıkları objelere göre değişik şeyler ifade edebileceğini yazmıştım
 
 * '+' operatörü sayısal veri tipleri üzerinde etki edince toplama işlemi yapıyor. Ama uygulandığı objeler string ise yapacağı işlem concatenation (birleştirme olacak), iki string'i ard arda birleştirecek.
 
 * En öok karıştırılan durumlardan biri string olarak ifade edilen sayıları + operatörüne sokmak

In [24]:
"5" + "4" # 5+4=9 yazmaz, bunları birleştirir yan yana yazar.

'54'

 * Python tırnak işaretiiçinde verdiklerimize karakter olarak davrandığı için artık 5 ve 4 ü sayı olarak algılamıyor. + işlemi burada artık bu iki değeri yan yana koy demek, topla demek değil !

In [25]:
"hey" + "nasılsın?"

'heynasılsın?'

 * '+' operatörünün tek yaptığı birleştirmek, strinlerde boşluk (space) olmadığı için ifadenin sonucu boşluksuz çıktı.

In [27]:
"hey " + "nasılsın?" #hey den sonra boşluk bıraktığım için ayrı yazıldılar

'hey nasılsın?'

In [28]:
"hey" + "" + "nasılsın?"

'heynasılsın?'

In [31]:
"hey" + " " + "nasılsın?" #ortadaki kesme işaretinin içerisinde boşluk bırakmazsam 
# tekrar yukarıdaki gibi bitişik yazardı.

'hey nasılsın?'

 * Aynısını değer ataması yaparak da yapabilirdik
 * Diyelim ki karşılama masajı yazdırmak istiyoruz. İsim ve karşılama kısmını ayrı tutacğız çünkü (belki) karşılayacağımız kişinin ismi değişecek ve ben kodumda sadece o değeri değiştirerek karşılama mantığını korumaya devam edeyim istiyorum.

In [32]:
mesaj = "Merhaba"

In [33]:
isim = "Berkay"

In [34]:
mesaj + " " + isim

'Merhaba Berkay'

 * Bu ifadenin değerini de başka bir değişkende tutabilirdik

In [35]:
karsılama = mesaj + " " + isim

In [36]:
print(karsılama)

Merhaba Berkay

# Successive concatenation (ardışık birleştirme)
 * '=' operetörü sayı objeleri için çarpım olarak tanımlanmışken, stringler için ard arda birleştirme işlemi yapıyor.

In [37]:
4 * "hey"

'heyheyheyhey'

In [38]:
"hey" + "hey" + "hey" + "hey"

'heyheyheyhey'

In [39]:
"1" + "0"*10

'10000000000'

# Len()
 * Bu metod ile (metodları ayrıntılı göreceğiz), elimizdeki string'in kaç karakterden oluştuğunu öğrenebiliriz (boşluklar da sayılıyor)

In [1]:
len("4")

1

In [2]:
len("42")

2

In [3]:
len("hey")

3

In [4]:
len("hey, nasılsın?")

14

# Indexing (elemanlara erişim)
 * Strinlerin non-scalar veri tipilerine örnek olduğunu yazmıştım. Stringler elemanları karakterler olan, alt birim olrak karakterler içeren bir veri tipi
 * Stringler karakterler dizisi olduğu için, bu dizideki spesifik konumlardaki elemanlara erişme aklımıza gelebilir. Mesela String'in ilk karakteri nedir gibi
 * Bir yapının  alt elemanlarına erişmek için yapacağımız işleme 'indexing' deniyor. Bunu kçşeli paraztez ile sağlayacağız.
 * İsim diye bir değişken oluşturup, string'e eşitleyip bunun ilk elemanına erişelim;

In [5]:
isim = "Deniz"

In [6]:
isim[1]

'e'

In [7]:
"Deniz"[1]

'e'

 * Python'da indexler '0' dan başlıyor. Yani biz ilk elemana ulaşmak istiyorsak [0] ile sorgulamamız lazım

In [8]:
isim[0]

'D'

 * İkinci eleman için 1; üçüncü eleman için 2 ile sorgulamalıyz

In [9]:
isim[1]

'e'

In [10]:
isim[2]

'n'

 * Son elemanı elde etmek için [-1] yazabiliriz

In [11]:
isim[-1]

'z'

 * Stringlerin elemanları değiştirilemezdir. O yüzden şçyle şeyler yapamayız;

In [12]:
isim[0] = "B"

TypeError: 'str' object does not support item assignment

# Slicing (dilimleme)
 * Indexing ile sonuç olarak sadece bir eleman elde ettik, ama bir kaç tanesini arka arkaya, bir öbek olarak istiyorsam ne yaprdım?
 * Diyelim ki 2 elemandan başlayarak 3.elemana kadar olan karakterleri elde etmek istiyorum (0.indexten 3.indexe kadar olanlara)

In [13]:
isim

'Deniz'

In [14]:
# Burada önemli olan nokta ilk belirtilen indexing dahil edilip son olarak yazılanın dahil edilmemesi
# 0, 1, 2 indexlerini döndürdü bana sonuç olrak
isim[0:3]

'Den'

In [15]:
isim[1:3]

'en'

 * başlangıç:bitiş olarak veriyoruz ve bitiş olarak verdiğimiz index dahil olmuyor. Başlangıç belirtmezsek Python defult olarak başlangıç 0 alıyor.

In [16]:
isim[:3]

'Den'

 * Bitişi belitmezsek Python string'in sonuna kadar alıyor, bu sefer son elemanı da dahil ediyor.

In [17]:
isim[1:]

'eniz'

In [18]:
isim[0:]

'Deniz'

In [19]:
# İkisini de belitmezsek [0:] ile aynı olurdu, çünkü belirtilmediği zaman başlangıcı 0 alıyor
isim[:]

'Deniz'

 * Slicing yaparken bitiş bitiş olarak değer en büyük index'imizden büyükse de hata alamayız, sonuna kadar alır ( sadece indexing yaparken en büyük indeximden büyük olan değerler için hata alıyordum)

In [20]:
isim[1:20]

'eniz'

In [21]:
isim[0:20]

'Deniz'

In [22]:
isim[1:200]

'eniz'

In [23]:
isim[1:]

'eniz'

 * başlangıç:bitiş olark slicing yapabileceğimiz gibi, başlangıç:bitiş:adım formunda da slicing yapabiliriz. Buradaki adım parametresi kaçar kaçar gideceğimizi belirler.

In [24]:
isim

'Deniz'

In [25]:
isim[0:10:2]

'Dnz'

In [27]:
isim[0:3:2]

'Dn'

In [26]:
isim[0:10:3]

'Di'

 * Adım eski bir değer de olabilir, böylece ters yönde gitmiş oluruz. Ama başlangıç değerini ona göre belirlemek gerekir.

In [28]:
# 0.indexten 10. indexe 1 azaltarak gidemez o yüzden boş string döndürür.
isim[0:10:-1]

''

In [29]:
isim[10:0:-1]

'zine'

In [30]:
isim[10::-1]

'zineD'

In [31]:
isim[::-1]

'zineD'

In [32]:
isim[::-2]

'znD'

# Casting in Strings

In [33]:
a = "5"

In [34]:
b = "5.3"

In [37]:
int(a)

5

In [36]:
float(b)

5.3

In [39]:
int(float(b)) #float olan b'nin sadece tam kısmını almak için bu şekilde bir yöntem kullanabilirim.

5

# Input
 * Bazen kullanacağımız değeri kullanıcıdan almak isteyebilirz. Bunu input metodu ile yapacağız
 * Input'un içinde yazacağımız bize kullanıcıya gösterilecek yazıyı verecek, kullanıcıdan girdi bekleyip enter'a basmasını bekleyecek ve girdiyi string olarak döndürecek

In [40]:
x = input("Bir sayı giriniz: ")

Bir sayı giriniz: 10

In [41]:
x + 10

TypeError: can only concatenate str (not "int") to str

In [42]:
type(x)

str

In [43]:
int(x) + 10

20

In [44]:
x = int(input("Bir sayı giriniz: "))

Bir sayı giriniz: 10

In [45]:
x + 10

20

In [46]:
mesaj = input("Mesajı girin: ")

Mesajı girin: Merhaba

In [52]:
ad = input("Ad girin: ")

Ad girin: Sema

In [53]:
mesaj + " " + ad

'Merhaba Sema'

# Commands

 * Tek satıra yorum yazma

In [ ]:
# '#' bunu kullanarak tek satırda yorum yazabilrim

In [ ]:
""" 
bu şekilde ise aynı anda birden fazla satırı command satıra cevirebilirim.(3 tane " dan kullanmam lazım)
"""

 # Nümerik Veri Tiplerinde Karşılaştırma
 
 * Bir programın farklı durumlar olduğunda başka davranışlar göstermesini isteyebiliriz. Bunun için belirli testler yapmam lazım ve bu testler sonucuca göre farklı davranışlar tasarlamam lazım.


 * Bu testler için verilerimizi birbirleri ile karşılaştırabilir olmamız lazım. Bunları Comparison Operator'lar (karşılaştırma operatörleri) ile yapacağız. Cevabın True veya False olmasına göre, farklı durumlarda farklı davranacak program tasarlayabiliriz. Bu karşılaştırmalar o programların temelini oluşturacak.


 * Nümerik veri tiplerinde karşılaştırma deyince aklımıza bir kaç şey gelebilir:


 * i==j eşitlik testi (equality test). i ve j birbirlerine eşitse bu ifadenin değeri boolean veri objesi True, eşit değilse False olacak. = değişken atama operatörü olarak tanımlandığı için eşitlik test ederken onu kullanırsak ='in sağındaki değere solundaki adı vermiş oluruz.


 * i!=j eşitsizlik testi (inequality test). i ve j birbirlerine eşit değilse bu ifadenin değeri boolean veri objesi True, eşitse False olacak.


 * i>j i, j'den büyükse bu ifadenin değeri boolean veri objesi True, eşit veya az ise False olacak.


 * i>=j i, j'den büyükse veya eşitse bu ifadenin değeri boolean veri objesi True, az ise False olacak.


 * i<j i, j'den küçükse bu ifadenin değeri boolean veri objesi True, eşit veya büyük ise False olacak.


 * i<=j i, j'den küçükse veya eşitse bu ifadenin değeri boolean veri objesi True, büyük ise False olacak

In [1]:
5 == 4

False

In [2]:
5 == 5

True

In [3]:
i = 10
j = 20

In [4]:
i == j

False

In [5]:
j = 10

In [6]:
i == j

True

 * Float veri tipleri için eşitlik karşılaştırması yaparken == kullanılması çok mantıklı değil, bunun nedenini ileriki derslerde göreceğiz

In [7]:
5.3 == 5.4

False

In [8]:
5.4 == 5.4

True

In [9]:
x = (0.3 * 3) + 0.1
y = 1.0
x == y

False

In [11]:
x

0.9999999999999999

In [12]:
y

1.0

# != Operator

In [13]:
5 != 4

True

In [15]:
5 != 5

False

In [14]:
i = 10
j = 20

In [16]:
i != j

True

In [17]:
j = 10

In [18]:
i != j

False

# > Operator

In [19]:
5 > 4

True

In [20]:
5>5

False

In [22]:
i = 10
j = 20

In [23]:
i > j

False

In [24]:
j = 5

In [25]:
i > j

True

In [26]:
5.3 > 5.4

False

In [27]:
5.4 > 5.3

True

# >= Operator

In [30]:
5 >= 4

True

In [28]:
5 >= 5

True

In [29]:
5 >= 7

False

# < Operator

In [31]:
5 < 4

False

In [32]:
5 < 5

False

# <= Operator

In [33]:
5 <= 4

False

In [34]:
5 <= 5

True

In [35]:
i = 10
j = 20

In [36]:
i <= j

True

In [37]:
j = 10

In [38]:
i <= j

True

In [39]:
5.3 <= 5.4

True

In [40]:
5.4 <= 5.3

False

# List
 * Elimizdeki verileri gruplamak bir yapı altında tutmak isteyebiliriz.
 * Mesela bir sınıftaki öğrencilerin notlarını tutmak istiyorum. 5 farklı öğrenci var, şimdiye kadar öğrendiklerimizle şöyle yapabilirdim:

In [41]:
ogrenci_1 = 78
ogrenci_2 = 80
ogrenci_3 = 43
ogrenci_4 = 65
ogrenci_5 = 90


 * Bunların hepsi bir sınıftaki notları ifade ediyor. Bunları bir veri tipi olarak bir arada tutsak daha mantıklı olmaz mı?

 * list veri tipi de tam burada devreye giriyor. Birden çok veriyi gruplayıp bir arada tutmak istediğimizde kullanabileceğimiz bir yapıdır.

 * listler belirtirken köşeli parantezle belirtiyoruz: [element1, element2,...].

 * listler içsel yapı içerdikleri için non-scalar veri tipidir.

 * Elemanları arasına virgül koyarak farklı eleman belirtmeye başladığımı ifade ediyorum.

In [42]:
notlar = [78, 80, 43, 65, 90]

In [44]:
notlar[1]

80

In [ ]:
# bunun aynısını şu şekilde de tutabilirdik:

In [43]:
notlar = [ogrenci_1, ogrenci_2, ogrenci_3, ogrenci_4, ogrenci_5]

 * Bu oluşturduğumuz yapının ilk elemanı ilk öğrencinin notu, ikinci elemanı ikinci öğrencinin notunu belirtiyor (bu mantık böyle devam ediyor). Böylece öğrencilerin notlarını farklı 5 değişkende tutmak yerine bir veri tipi altında düzenli tutabilmiş olduk.
 
 * Nasıl ki stringlerde elemanlarına indexleme yaparak [0] gibi değerlerle ulaşabiliyorsak, listlerde de aynı durum söz konusu.
 
 * notlar listesinin ilk elemanına ulaşmak için:

In [45]:
# ogrenci_1 in notu
notlar[0]

78

 * list'lerin içine istediğimiz veri tipini koyabiliriz. listeleri sadece verilerimi içine koyduğumuz bir kutu olarak düşünün, listlerin tek yaptığı şey bunları bir arada tutmak. Elemanları istediğim veri objesi olabilir. int, float, string, hatta listler bile!

In [46]:
["a","b"]

['a', 'b']

In [47]:
[True, False]

[True, False]

In [48]:
[[1,2], [3,4,5]]

[[1, 2], [3, 4, 5]]

# Listler Farklı Veri Tiplerini İçerebilir
 * Aynı list'in içine farklı tipte veri tipleri koyabiliriz.

In [51]:
l = [1, 2, "a", "b", True, 4.5, [1,2,3]]

In [50]:
1

1

# Indexing ve Slicing
 * String konusunda yaptığımız indexleme mantığı ve slicing mantığı tamamen listler için de geçerli.

In [52]:
notlar

[78, 80, 43, 65, 90]

In [61]:
notlar[0]

78

In [60]:
notlar[-1]

90

In [65]:
notlar[10]

IndexError: list index out of range

In [58]:
notlar[1:]

[80, 43, 65, 90]

In [62]:
notlar[1:3]

[80, 43]

In [63]:
notlar[:200]

[78, 80, 43, 65, 90]

In [64]:
notlar[:3000]

[78, 80, 43, 65, 90]

# Listlerin Elemanları Değiştirilebilir
 * Listler mutable veri tipleridir. Elemanlarını güncelleyebiliriz.

In [4]:
notlar = [78, 80, 43, 65, 90]

In [5]:
notlar

[78, 80, 43, 65, 90]

 * Diyelim ki ikinci öğrencinin notunu eksik okuduk. 5 puan yükseltmek istiyoruz:

In [ ]:
notlar[1] += 5 # notlar[1] = notlar[1] + 5 // 1.indexteki notu 5 arttırarak ver

In [11]:
notlar

[78, 95, 43, 65, 90]

 * Birden çok elemanı da değiştirebiliriz.

In [13]:
l = [1, 2, 3, 4]

In [14]:
l [0:3]

[1, 2, 3]

In [16]:
l[0:3] = 30, 40, 60

In [17]:
l

[30, 40, 60, 4]

 * Eşit sayıda vermemiz de gerekmez, l[0:3] olacak yere sadece solda yazdığımız yazılır.

In [18]:
l[0:3] = 30, 40

In [19]:
l

[30, 40, 4]

In [ ]:
l = [1, 2, 3, 4]

In [24]:
l[0:3] = 30

TypeError: can only assign an iterable

 * Slicing'in sonucuna tek bir değer yazacaksak bile direkt tek olarak veremeyiz, iterable olması gerekir. Bunun ayrıntısını ileride göreceğiz şimdilik sol tarafı list olarak verebileceğimizi bilmeniz yeterli.

In [25]:
l[0:3] = [30]

In [22]:
l

[30]

#  len()
 * Bize list'te kaç eleman olduğunu verir.

In [23]:
l

[30]

In [27]:
len(l)

1

# Listin Sonuna Eleman Eklemek
 --append()
   * İçine yazılan elemanı listenin sonuna ekler.

In [ ]:
l = [1,2,3]

In [28]:
l.append(200)

In [29]:
l

[30, 200]

 --extend()
   * İçine yazılan birden çok elemanı listenin sonuna ekler.

In [33]:
l = [1,2,3]

In [34]:
l.extend([100,200,300])

In [35]:
l

[1, 2, 3, 100, 200, 300]

# Spesifik Bir Indexe Eleman Eklemek
 * Belki list'in sonuna değil, spesifik bir indexine eleman eklemek istiyoruz. Bunu "insert()" ile yapabiliriz.

In [36]:
l = [1, 2, 3, 4, 5]

In [37]:
l[0] = 100

In [38]:
l

[100, 2, 3, 4, 5]

In [40]:
l = [1, 2, 3, 4, 5]

In [41]:
l.insert(0, 100) # is not l[0] = 100

 * eğer l[0] = 100 yazmış olsaydık, liste 100,2,3,4,5 e dönerdi, ama ben 1->100 dönüşümü yapmak istemiyorum, ilk indexe 100'ü eklemek istiyorum. l.insert(0,100) tam da istediğimi yapıyor. 0. indexe 100 değerini yazıyor ve 1 değerini sağa kaydırıyor, listeden silmemiş oluyor.

In [42]:
l

[100, 1, 2, 3, 4, 5]

In [43]:
l.insert(3,44)

In [44]:
l

[100, 1, 2, 44, 3, 4, 5]

 # remove()
 * Belirli bir elemanı listeden silmemize yarar. Eğer yazılan eleman listede yoksa error verir.

In [45]:
l = [1,2,3,4]

In [46]:
l.remove(40)

ValueError: list.remove(x): x not in list

 * Bunu try-except ile çözebiliriz ama daha o konuyu görmedik. Yine de aşağıya kodu ekliyorum.



      try:
           l.remove(40)
      except ValueError:
           pass
    


 * remove() sadece ilk gördüğü değeri siler. l.remove(40) dersem ve listede 1'den çok 40 varsa ilk gördüğünü siler.

In [47]:
l = [1,2,3,40,30,40]

In [48]:
l.remove(40)

In [49]:
l

[1, 2, 3, 30, 40]

# pop()
 * listenin belirli indexindeki elemanı silmeye ve o değeri döndürmeye yarar.


 * remove() sadece siliyordu, pop() aynı zamanda o değeri döndürüyor.

In [50]:
l = [1,2,3,4,5,6]

In [51]:
# It deletes and return the value, remove() just removes it
l.pop(1)

2

In [52]:
l

[1, 3, 4, 5, 6]

In [53]:
l = [1,2,3,4,5,6]

In [54]:
l.pop(1) + 4

6

In [55]:
# out of range error
l.pop(100)

IndexError: pop index out of range

# count()
 * count()'un içine yazdığımız değerin listede kaç defa göründüğünü döndürür.

In [56]:
l = [1, 2, 44, 4, 5, 1]

In [57]:
l.count(1)

2

In [58]:
l.count(44)

1

In [59]:
l.count(1000)

0

# Aliasing
 * Evet. Geldik olayların ilginç bir hal aldığı yere.


 * Listeler bilgisayarın hafızasında integer, float gibi veri tiplerinin tutulduğundan biraz daha farklı tutuluyor.


 * a = 2 dediğimiz zaman hafızada a adında bir kutucuk oluşturuluyor demiştik.


 * a = 2


 * a direkt o kutunun adı oluyor.


 * Ama listelerde durum böyle değil. l = [1,2,3] gibi bir liste yarattığımızda, l kutunun adı değil, kutuyu işaret eden etiketin adı oluyor.


 * l = [1,2,3]


 * Bu farkın getirdiği bazı yan etkiler var.


 * Mesela kutunun adı direkt değişken adı olduğunda ve aşağıdaki işlemi yaptığımızda:

In [60]:
a = 2

In [62]:
b = a

In [63]:
b

2

In [65]:
a = a + 1

In [66]:
a

4

In [67]:
b

2

 * a yı güncellesek de b güncellenmiyor. b sadece a kutusunun değerine eşit olmuş oldu, kutunun kendisine değil.


 * Aynısını listlerde yaptığımızda:

In [68]:
l = [1,2,3]

In [69]:
l2 = l

In [70]:
l

[1, 2, 3]

In [71]:
l2

[1, 2, 3]

In [72]:
l[0] = 200

In [73]:
l

[200, 2, 3]

In [74]:
l2

[200, 2, 3]

 * l2 de güncellendi!


 * Çünkü l2 = l dediğimizde l2, l etiketinin değerine eşit oldu, iki etikette aynı kutuyu, veri objesini gösteriyor, o yüzden listeyi güncellemem ikisine de yansıyor.


 * Git aynı değerle başka bir kutucuk yarat ve oraya etiket ol diyerek güncellenmemesini sağlayabilirim.


 * Bunu copy() ile yapacağız.

In [ ]:
l2 = l.copy()

In [75]:
l

[200, 2, 3]

In [76]:
l2

[200, 2, 3]

In [77]:
l[0] = 300

In [78]:
l

[300, 2, 3]

In [79]:
l2

[300, 2, 3]

#  Listlerde Concatenation
 * "+" operatörü listlerde concatenation yapar.

In [80]:
l = [1,2,3]

In [82]:
l2 = [4,5,6]

In [83]:
l

[1, 2, 3]

In [84]:
l2

[4, 5, 6]

In [85]:
l + l2

[1, 2, 3, 4, 5, 6]

In [86]:
l3 = l + l2

In [87]:
l3

[1, 2, 3, 4, 5, 6]

# Belirli Bir Elemanın Indexini Bulmak

In [88]:
l = [1, 2, 3, 4, 3, 5, 6]

In [89]:
l

[1, 2, 3, 4, 3, 5, 6]

In [90]:
# İlk hangi indexte görünüyorsa onun değerini döndürür.
l.index(3)

2

In [91]:
l.index(4)

3

In [92]:
# listede olmayan değerler için error verir.
l.index(100)

ValueError: 100 is not in list

# List'i Tersine Çevirmek

In [93]:
l = [1,2,3,4]

In [94]:
l.reverse() # inplace: yani l'yi günceller.

In [95]:
l

[4, 3, 2, 1]

In [96]:
l = [1,2,3,4]

 * Aynısını slicing mantığı ile de yapabilirdik.

In [97]:
l[::-1]

[4, 3, 2, 1]

In [98]:
l

[1, 2, 3, 4]

In [99]:
l3 = l[::-1]

In [100]:
l3

[4, 3, 2, 1]

In [101]:
l

[1, 2, 3, 4]

 * Orijinalini güncellemiyor, güncellemesi için variable assignment yapmamız lazım.

In [102]:
l = l[::-1]

In [103]:
l

[4, 3, 2, 1]

# List'in Elemanlarını Sıralamak (sorting)
 * sorted() orijinal listeyi güncellemez.

 * sorted() ve .sort() a bakacağız. İkisi de default olarak küçükten büyüğe sıralar. Sayısal verilerde sayısal değerine göre, stringlerde alfabetik sıraya göre sıralar.

In [105]:
l = ["b","a","c"]

In [106]:
sorted(l)

['a', 'b', 'c']

In [107]:
l

['b', 'a', 'c']

In [109]:
l3 = sorted(l)

In [110]:
l3

['a', 'b', 'c']

 * ".sort()" günceller

In [112]:
l = ["b","a","c"]

In [113]:
l.sort() # inplace

In [114]:
l

['a', 'b', 'c']

In [115]:
l = [1,2,10,3,-1]

In [116]:
sorted(l)

[-1, 1, 2, 3, 10]

In [117]:
l

[1, 2, 10, 3, -1]

In [118]:
# küçükten büyüğe sıralar
l.sort()

In [119]:
l

[-1, 1, 2, 3, 10]

In [120]:
l = ["b","a","c","1","3","4"]

In [121]:
l.sort()

In [122]:
l

['1', '3', '4', 'a', 'b', 'c']

In [123]:
l = [1,3.1,2,0.6]

In [125]:
l.sort()

In [126]:
l

[0.6, 1, 2, 3.1]

In [127]:
l = ["b","a","c",1,2]

In [128]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [129]:
l = ["b","a","c","1","3.5","4","5.6", "0.6"]

In [131]:
l.sort()

In [132]:
l

['0.6', '1', '3.5', '4', '5.6', 'a', 'b', 'c']

In [133]:
l = [[1,-20,3], [2,-200,-3]]

In [134]:
l.sort()

In [135]:
l

[[1, -20, 3], [2, -200, -3]]

In [136]:
l = [[10,-20,-3], [2,-2,3]]

In [137]:
l.sort()

In [138]:
l

[[2, -2, 3], [10, -20, -3]]

In [139]:
l = [[10,-20,-3], [10,-25,3]]

In [140]:
l.sort()

In [141]:
l

[[10, -25, 3], [10, -20, -3]]

In [142]:
l = [["a", "b", "c"], [2,-200,-3]]

In [143]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [144]:
l

[['a', 'b', 'c'], [2, -200, -3]]

In [145]:
l = [[200, "b", "c"], [2,-200,-3,10]]

In [146]:
l.sort()

In [147]:
l

[[2, -200, -3, 10], [200, 'b', 'c']]

In [148]:
l = [[200, "b", "c"], [200,-200,-3,10]]

In [149]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

# Tuple


 * tuple veri tipi listeler gibi birden çok veri tipini bir arada tutmamızı sağlar.


 * listelerden farklı olarak tuple'lar immutabledır.


 * Mesela bir deniz fenerinin konumunu belirtmek istiyoruz. bunun x ve y koordinat değerleri var (x,y). Deniz fenerini söküp götüremiyoruz, ben bu iki değerin sabit, değiştirilemez olmasını istiyorum. Burada bu iki değeri tutmak için tuple kullanmam mantıklı olabilir.


 * Değişmeyeceğini bildiğim değerleri bir arada tutmak için.


 * tuple'lar (element1,element2...) şeklinde tanımlanır.


 * tuple'lar listeler gibi farklı veri yapılarında elemanlardan oluşabilir. Elemanları tuple bile olabilir.

In [166]:
x = 10
y = 34

In [167]:
konum = (10, 34)

  * Aynı listelerdeki gibi indexleme yapabiliyoruz.

In [168]:
konum = (10, 34)

In [169]:
konum[0]

10

In [170]:
konum[:]

(10, 34)

 * Ama değerlerini değiştiremiyoruz.

In [171]:
konum[0] = 100

TypeError: 'tuple' object does not support item assignment

 * Farklı veri tipleri barındırabiliyor.

In [172]:
t = (1,2,3,"a")

In [173]:
t

(1, 2, 3, 'a')

In [174]:
t = ((1,2),3)

In [175]:
t

((1, 2), 3)

In [176]:
t[0]

(1, 2)

In [177]:
t[1]

3

In [179]:
t = ([1,2,3],2,(1,2))

In [180]:
t

([1, 2, 3], 2, (1, 2))

In [182]:
t[0][0] = 23

In [183]:
t

([23, 2, 3], 2, (1, 2))

In [184]:
l = [[1,2,3], [10,20]]

In [185]:
l

[[1, 2, 3], [10, 20]]

# Elemanların Değerlerini Değiştirmek
 * Diyelim ki x ve y'nin değerlerini değiştirmek istiyorum

In [189]:
x = 2
y = 3

 * bunu şöyle yapabiliriz.

In [190]:
temp = x
x = y
y = temp

In [191]:
x

3

In [192]:
y

2

 * Ama bunu tuple'lar ile 1 satırda yapabiliriz

In [193]:
x = 2
y = 3

In [194]:
(x, y) = (y, x)

In [195]:
x

3

In [196]:
y

2

 * parantez koymamıza da gerek yok. 1,2,3,"a"... gibi parantezsiz belirtsek de Python onu tuple olarak görüyor.

In [197]:
1,2,3,4

(1, 2, 3, 4)

In [199]:
a = 1,2,3,4
a

(1, 2, 3, 4)

In [201]:
type(a)

tuple

In [202]:
x = 2
y = 3

In [203]:
x, y = y, x

In [204]:
x

3

In [205]:
y

2

In [206]:
x = 2
y = 3

In [207]:
[x, y] = [y, x]

In [208]:
x

3

In [209]:
y

2

# Tuple ve List'lerde Eleman Kontrolü


 * Belirli bir eleman listede veya tuple'da var mı diye in keyword'ü ile sorgu yapabilirim.

In [216]:
l = [1,2,3,4]

In [217]:
40 in l

False

In [218]:
2 in l

True

In [224]:
t = (1,2,3,4)

In [223]:
40 in t

False

In [222]:
3 in t

True

 # Dictionaries


 * Listeler bize bir arada tutulması anlamlı olacak verileri bir arada tutma gücü verir.


 * Mesela bir sınıftaki 3 öğrencinin sınavdan aldıkları notlar:

In [228]:
notlar = [80,72,95]

 * Bu listedeki 1. eleman ilk öğrenciyi, 2. eleman 2. öğrenciyi, 3. eleman...


 * Ben aynı zamanda bu öğrencilerin isimlerini de tutmak istiyorsam, isimleri için ayrı bir liste oluşturmam lazım. Kuracağım mantık için bu iki listenin eleman sayısı aynı olmalı. notlar[0] bana ilk öğrencinin notunu, isim[0] bana ilk öğrencinin notunu verecek.

In [229]:
isim = ["Deniz", "Ege", "Gizem"]

In [230]:
isim[0]

'Deniz'

In [231]:
notlar[0]

80

In [234]:
print(isim[0], "adlı öğrencinin notu", notlar[0])

Deniz adlı öğrencinin notu 80

 * Öğrenci numaralarını tutmak istiyorsam bunu için de ayrı bir liste oluşturmam lazım.

In [235]:
no = [703, 408, 690]

In [236]:
isim[0]

'Deniz'

In [237]:
notlar[0]

80

In [238]:
no[0]

703

 * Her farklı bilgi için yeni bir liste oluşturmam gerekiyor.


 * Aynı elemanı ifade eden mantıklar listeler arası aynı indexte tutuluyor. (isim[0]'ın notu notlar[0])


 * Bu yapılabilir ama optimal olmayan bir yaklaşım. Karışıklık çıkması çok muhtemel.


 * İstediğim kısmı almanın daha kolay bir yolu olabilir mi? Sadece bir veri yapısı kullansam... Ayrı ayrı listeler kullanmasam...


 * Evet bunu yapabiliriz! Bunun için dictionary veri yapısını göreceğiz.


 * Dictionary yapısının elemanlarına erişmek için belirli keyler kullanacağız ve o da bize value'lar verecek.


 * dictionary'leri süslü parantez {} ile belirteceğiz.


 * Formumuz {key1:value1, key2:value2...} şeklinde olacak.


 * Elemanlarına ulaşmak için öbür non-scalar veri tiplerinde yaptığımız gibi [] kullanacağız. Ama - dictionary'lerin elemanlarına ulaşmak için belirlediğimiz keyleri kullanacağız, integer indexing değil.


 * dictionary'lerin keyleri immutable herhangi bir yapıda olabilir. value'lar mutable da immutable da olabilir. int, float, bool, string, list, tuple, set, even dictionaries itself!

In [240]:
notlar = {"Deniz": 80, "Ege":72, "Gizem": 95}

In [241]:
notlar["Ege"]

72

In [242]:
notlar["Gizem"]

95

In [243]:
ogrenciler = {"Deniz": {"not":80, "ogrenci_no":703}, "Ege":{"not":72, "ogrenci_no":408}, "Gizem": {"not":95, "ogrenci_no":690}}

In [245]:
ogrenciler["Ege"]

{'not': 72, 'ogrenci_no': 408}

In [246]:
ogrenciler["Ege"]["not"]

72

In [247]:
ogrenciler["Ege"]["ogrenci_no"]

408

# Olmayan Bir Eleman Sorgulamak


 * Olmayan bir key ile eleman sorgusu yaparsak hata alırız.

In [248]:
notlar

{'Deniz': 80, 'Ege': 72, 'Gizem': 95}

In [249]:
notlar["Mert"]

KeyError: 'Mert'

 # Value Değerlerini Değiştirmek
  * Diyelim ki Ege'nin notu yanlış okunmuş, notunu 5 puan arttıracağız.

In [250]:
notlar

{'Deniz': 80, 'Ege': 72, 'Gizem': 95}

In [251]:
notlar["Ege"] = notlar["Ege"] + 5

In [252]:
notlar["Ege"]

77

In [258]:
notlar

{'Deniz': 80, 'Ege': 77, 'Gizem': 95}

In [259]:
len ()

TypeError: len() takes exactly one argument (0 given)

 * len() fonksiyonunu dictionary'lerde kullandığımız zaman bize kaç tane key varsa onun sayısını veriyor.

In [260]:
notlar

{'Deniz': 80, 'Ege': 77, 'Gizem': 95}

In [261]:
len (notlar)

3

# Eleman eklemek
 * Dictionary'lere eleman eklemek gerçekten kolay. Tamam yazmayı bırakıp direkt göstereyim:

In [262]:
notlar

{'Deniz': 80, 'Ege': 77, 'Gizem': 95}

In [263]:
notlar["Mert"] = 58

In [264]:
notlar

{'Deniz': 80, 'Ege': 77, 'Gizem': 95, 'Mert': 58}

 * Dictionary'ye sorgu yapıyor gibi yazıyoruz, ve value'si olmasını istediğimiz değeri de soluna yazıyoruz.

# Eleman silmek

In [265]:
notlar

{'Deniz': 80, 'Ege': 77, 'Gizem': 95, 'Mert': 58}

 * Eleman silmeyi del keyword'ü ile yapabiliriz.

In [266]:
del notlar["Mert"]

In [267]:
notlar

{'Deniz': 80, 'Ege': 77, 'Gizem': 95}

 * Sadece Immutable Tipindeki Veriler key olabilir

In [268]:
d = {1:2, 3:"b"}

In [269]:
d[1]

2

In [273]:
d[3]

'b'

In [274]:
d2 = {(1,2):"a", (4,5): [1,2,3]}

In [275]:
d2[(1,2)]

'a'

In [276]:
d2[(4,5)]

[1, 2, 3]

In [277]:
d3 = {[1,2]:4}

TypeError: unhashable type: 'list'

 # Boş Bir Dictionary Yaratmak

In [278]:
d = {}

In [279]:
d

{}

In [280]:
d[1] = "a"

In [281]:
d

{1: 'a'}

# Bir Değer Keyler Arasında Var mı Sorgusu Yapmak
 * Bir elemanın dictionary içinde olup olmadığını sorgulamak, list ve tuple'lerde sorgulamaktan daha hızlıdır.

In [282]:
notlar

{'Deniz': 80, 'Ege': 77, 'Gizem': 95}

In [283]:
"Mert" in notlar

False

In [284]:
"Deniz" in notlar

True

# set
 * Setleri kümeler olarak düşünebiliriz.


 * Sadece özgün değerleri tutan, içerisinde bir eleman var mı yok mu, başka bir setle hangi elemanları farklı gibi işlemleri performanslı bir şekilde yapabileceğimiz bir veri yapısıdır.


 * Dictionary'ler gibi eleman sorgusu yapmak hızlıdır. Dictionarylerde key-value çift olarak bulunduğu için aynı uzunluktaki bir setten daha fazla yer kaplar.


 * Setler indexlenemez.


 * Setler mutable'dır.

 # set yaratma

In [1]:
s = {1,2,3,4,5}

In [2]:
s

{1, 2, 3, 4, 5}

In [3]:
s2 = {1,2,2,2,1,4,5,6}

In [4]:
s

{1, 2, 3, 4, 5}

# boş set yaratma

In [5]:
a = {}

In [6]:
type(a)

dict

In [7]:
s = set()

In [8]:
set()

set()

In [9]:
l = [1,2,3,4]

In [12]:
s = set(l)

In [13]:
s

{1, 2, 3, 4}

In [14]:
l = [1,2,3,4,1,2]

In [15]:
set(l)

{1, 2, 3, 4}

In [16]:
# Boş bir seti {} ile yaratamayız,çünkü bu boş bir dictionary yaratmak için ayrılmış
s = {}

In [17]:
type(s)

dict

 * Setler Sadece Özgün Değerlerden Oluşur


 * Setin içinde bir elemanı birden çok göremezsiniz.

In [18]:
l = [1,2,3,4,1,2]

In [19]:
# Sadece farklı değerlerden `s` yi oluşturacak.
s = set(l)

In [20]:
s

{1, 2, 3, 4}

In [23]:
t = (1,2,3,4,1)

In [24]:
s = set(t)

In [25]:
s

{1, 2, 3, 4}

In [27]:
message = "Merhaba, orda mısın?"

In [28]:
# Strinleri kullanarak da set oluşturabiliriz.
s = set(message)

In [29]:
# " " (boşluk) karakterini de sayıyor.
# setler sıralı değildir.
s

{' ', ',', '?', 'M', 'a', 'b', 'd', 'e', 'h', 'm', 'n', 'o', 'r', 's', 'ı'}

In [32]:
len(s)

15

In [34]:
s = set([1,2,3,4,5])

In [35]:
s

{1, 2, 3, 4, 5}

In [36]:
len(s)

5

In [38]:
t = (1,2,3,3,2)

In [39]:
set(t)

{1, 2, 3}

In [40]:
len(set(t))

3

# setler indexlenemez

In [41]:
s

{1, 2, 3, 4, 5}

In [42]:
s[0]

TypeError: 'set' object is not subscriptable

# set'e eleman ekleme

In [43]:
s = {1,2,3,4,5}

In [44]:
s.add(6)

In [45]:
s

{1, 2, 3, 4, 5, 6}

In [46]:
# Bu kod bir error vermeyecek, ama 5 zaten sette olduğu için eklemeyecek de
s.add(5)

In [47]:
s

{1, 2, 3, 4, 5, 6}

# set'ten eleman silme

In [48]:
s

{1, 2, 3, 4, 5, 6}

In [49]:
s.remove(2)

In [50]:
s

{1, 3, 4, 5, 6}

In [51]:
# add()'in aksine, remove() hata veriyor.
s.remove(9)

KeyError: 9

In [52]:
s

{1, 3, 4, 5, 6}

In [53]:
# Eğer silmek istediğimiz eleman yoksa hata almak istemiyorsak, discard()'ı kullanabiliriz.
s.discard(10)

In [69]:
s

{1, 3, 4, 5, 6}

In [70]:
s.add(10)

In [71]:
s

{1, 3, 4, 5, 6, 10}

In [72]:
s.discard(10)

In [73]:
s

{1, 3, 4, 5, 6}

# Difference (fark)


 * Evet geldik şimdi kümelerdeki fark konusuna. s1 kümesi ile s2 kümesinin farkına bakacağız. (s1 – s2) veya (s1 \ s2)

In [74]:
s1 = set([1,5,10])

In [75]:
s2 = set([2,5,3])

In [76]:
# s1 in hangi elemanları s2 den farklıdır.
s1.difference(s2)

{1, 10}

In [77]:
# '-' operatörü setlerde kullanıldığında bize farkı verir.
s1 - s2

{1, 10}

In [78]:
# s2 nin hangi elemanları s1 den farklıdır
s2.difference(s1)

{2, 3}

In [79]:
s2 - s1

{2, 3}

# Symmetric Difference


 * s1'in s2 den farkı ile s2'nin s1 den farkının birleşimi. (s1 \ s2) U (s2 \ s1) - > s1 U s2 - (s1 n s2)

In [80]:
U -> Birleşim

n -> kesişim

SyntaxError: invalid syntax (2173758119.py, line 1)

In [81]:
s1

{1, 5, 10}

In [82]:
s2

{2, 3, 5}

In [84]:
# (s1 \ s2) U (s2 \ s1)  - > A U B - (A n B)
s1.symmetric_difference(s2)

{1, 2, 3, 10}

In [86]:
# (s2 \ s1) U (s1 \ s2) same as (s1 \ s2) U (s2 \ s1)
s2.symmetric_difference(s1)

{1, 2, 3, 10}

# Intersection (kesişim)

In [87]:
s1

{1, 5, 10}

In [88]:
s2

{2, 3, 5}

In [89]:
s1.intersection(s2)

{5}

In [90]:
s2.intersection(s1)

{5}

In [91]:
# `&` operatörü setlere uygulanınca kesişim olur
s1 & s2

{5}

In [92]:
# Bu işlem kesişim ile aynı sonucu verecek
s1 - (s1-s2)

{5}

In [93]:
s1

{1, 5, 10}

In [95]:
# kesişim yapıp s1 in değerini buna günceller
s1.intersection_update(s2) # s1 = s1.intersection(s2)

In [96]:
s1

{5}

# Union (Birleşim)

In [97]:
s1 = set([1, 5, 10])

In [98]:
s1

{1, 5, 10}

In [99]:
s2

{2, 3, 5}

In [100]:
s1.union(s2)

{1, 2, 3, 5, 10}

In [101]:
s1

{1, 5, 10}

In [102]:
s1.union(s1)

{1, 5, 10}

# Disjoint Sets
 * s1 ∩ s2 = Ø olup olmadığını kontrol eder

In [103]:
s1

{1, 5, 10}

In [104]:
s2

{2, 3, 5}

In [105]:
s3 = set([12,11])

In [106]:
s3

{11, 12}

In [107]:
# s1 ∩ s2 ≠  Ø(boş küme) değil, o yüzden False döner
s1.isdisjoint(s2)

False

In [108]:
s2.isdisjoint(s1)

False

In [109]:
s1.isdisjoint(s3)

True

In [110]:
len(s1.intersection(s2)) == 0

False

# Subset (Alt küme)
 * s1.issubset(s2), s1'in s2'nin alt kümesi olup olmadığını kontrol eder

In [111]:
s1

{1, 5, 10}

In [112]:
s2

{2, 3, 5}

In [113]:
s1.issubset(s2)

False

In [115]:
s3 = set([2,5])

In [116]:
s3

{2, 5}

In [117]:
s3.issubset(s2)

True

# Superset (üst küme)
 * s2.issuperset(s3) s2'nin s3'ün üst kümesi olup olmadığını sorgular

In [118]:
s1

{1, 5, 10}

In [119]:
s2

{2, 3, 5}

In [120]:
s3

{2, 5}

In [121]:
s2.issuperset(s3)

True

In [122]:
s2

{2, 3, 5}

# Non-Scalar Veri Tiplerinde for
 * for döngüsünü işlerken for <değişken> in -obje- yapısında, her iterasyonda değişkenin tek tek objenin elemanlarına eşit olduğunu konuşmuştuk.


 * list, tuple, dictionary non-scalar veri tiplerini gördük ve bunların hepsinin içsel bir yapısı var, şimdi bunların elemanlarında for kullanarak iterasyon yapmaya bakalım.

 * Listelerde İterasyon


 * Diyelim ki öğrencilerin notlarını bir listede tutuyoruz.

In [123]:
notlar = [90, 72, 81, 77]

In [124]:
for e in notlar:
    print(e)

90
72
81
77

 * Bu sınıftaki not ortalamasına bakmak istiyor olabilirim.

In [125]:
t = 0

In [126]:
for e in notlar:
    t += e
ortalama = t / len(notlar)
print(ortalama)

80.0

 * Burada e 'nin özel bir anlamı yok, sadece döngünün içinde onu kullanırken o adla referans veriyorum, adı penguen de olabilirdi.

In [127]:
t = 0

In [128]:
for penguen in notlar:
    t += penguen
    
ortalama = t / len(notlar)

print("Ortalama: ", ortalama)

Ortalama:  80.0

 * Bunun aynısını range() fonksiyonu ile de yapabilirdik.


 * for e in notlar diyince ilk iterasyonda enin değeri 90, ikincisinde 72... olarak devam etti.


 * range() ile indexlerde iterasyon yapıp indexing ile değerlerine de ulaşabilirdim. (Range belirli bir listenin indexlerinde iterasyon yapmamı sağlamıyor, range(len(notlar)) diyince bize 0,1,2.. len(notlar)-1 sayılarını verecek, bunlar da listenin indexleriyle örtüşüyor, yoksa range() index verir diye bir şey yok.)

In [132]:
for i in range(4):
              print("Iteration: ", i)

Iteration:  0
Iteration:  1
Iteration:  2
Iteration:  3

In [133]:
t = 0

In [134]:
for i in range(len(notlar)):
    t += notlar[i]
    
ortalama = t / len(notlar)

print("Ortamala: ", ortalama)

Ortamala:  80.0

 * Diyelim ki öğretmen farketti ki herkese 5 puan az vermiş, herkesin puanını 5 arttırmak istiyor, bunu direkt listenin elemanlarında iterasyon yaparak yapamam. Listenin indexlerine erişip o değeri güncellemem lazım.

In [3]:
notlar=[90, 72, 81, 77]

In [4]:
notlar

[90, 72, 81, 77]

In [5]:
for e in notlar:
    print(e)

90
72
81
77

 * Buradaki e sadece notların içindeki değerler, e'yi değiştirmek listenin elemanlarını değiştirmez!

In [6]:
for e in notlar:
    print(e)
    e = e+10
    print(e)
    print(notlar)
    print("--------------")
print(notlar)

90
100
[90, 72, 81, 77]
--------------
72
82
[90, 72, 81, 77]
--------------
81
91
[90, 72, 81, 77]
--------------
77
87
[90, 72, 81, 77]
--------------
[90, 72, 81, 77]

 * Güncdelleme mantığını range() ile indexlerinde iterasyon yaparak yapacağız.

In [9]:
for i in range(len(notlar)):
    notlar[i] += 5

In [10]:
notlar

[100, 82, 91, 87]

 * Hadi biraz da continue mantığının alıştımasını yapmış olalım. Diyelim ki öğretmen 2. öğrencinin kağıdını doğru okumuş, 2. öğrenci (index 1'deki) hariç hepsinin değerini 5 arttıracak:

In [12]:
notlar = [90,72,81,77]

In [13]:
for i in range(len(notlar)):
    if i == 1:
        continue
    notlar[i] += 5
print(notlar)

[95, 72, 86, 82]

 * Şimdi de break egzersizi yapalım.


 * Diyelim ki bir listenin içinde belirli bir eleman var mı diye kontrol etmek istiyoruz. Bulunca aramaya devam etmeyeceğim. Devam etme mantığını break ile sağlayacağım.


 * İlk kullanıcıya hangi sayıyı aradığını soracağız, sonra bu sayı var mı kontrol edeceğiz.

In [41]:
x = int(input("Hangi sayıyı kontrol edeyim?:"))
l = [2, 3, 40, 100, 10, 1]

for e in l:
    print(e) # iterasyon break ile çıkmış mı görelim diye
    if e == x:
        print("Buldum!!")
        break

Hangi sayıyı kontrol edeyim?:10
2
3
40
100
10
Buldum!!

## Tuple'lerda İterasyon
 * Listelerde iterasyondan hiç bir farkı yok. Evet kısa bir açıklama oldu ama durum bu :) . Değerlerini güncelleyemiyoruz ama bu zaten döngüden bağımsız bir durum oluyor.

In [16]:
t = (1,2,3,4)

In [17]:
for e in t:
    print(e)

1
2
3
4

In [20]:
toplam = 0

for e in t:
    toplam += e
print(toplam)

10

In [21]:
for i in range(len(t)):
    print(t[i])

1
2
3
4

In [25]:
for i in range(len(t)):
    t[i] += 2

TypeError: 'tuple' object does not support item assignment

# Dictionary'lerde İterasyon

 * Burada durum biraz farklı. Default olarak elemanlarında dolaş diyince key 'lerde iterasyon yapıyor. Zaten index mantığı olmadığı için range() ile yapmak çoğu zaman karşımıza çıkmaz.

In [27]:
d = {"student_1": [90,89], "student_2": [80,83], "student_3": [72,71]}

In [28]:
for k in d:
    print(k)

student_1
student_2
student_3

 * Değerlerine ulaşmak istiyorsam şöyle yapabilirdim:

In [29]:
for k in d:
    v = d[k]
    print(v)

[90, 89]
[80, 83]
[72, 71]

 * Veya d.values() diyerek value'lerında iterasyon yapabilirim. Burada for <değişken> in 'obje' yapısında <değişken> int vs gibi şeyler değil liste gibi yapılar da olabilir iterasyon içerisinde, burada da öyle oldu.

 * bu .values() 'dan dolayı olan bir şey değil, dictionary'nin value'lerı int olsa böyle olmazdı.

In [30]:
d = {"student_1": 90, "student_2": 80, "student_3": 72}

In [31]:
for v in d.values():
    print(v)

90
80
72

In [33]:
d = {"student_1": [90,89], "student_2": [80,83], "student_3": [72,71]}

In [34]:
for v in d.values():
    print(v)

[90, 89]
[80, 83]
[72, 71]

 * Burada v, her iterasyonda int .


 * 85'den fazla alan biri var mı diye bakmak istiyorum diyelim, ve bunun kim olduğunu (olduklarını) bulmak istiyorum.

In [35]:
for v in d.values():
    print(v)

[90, 89]
[80, 83]
[72, 71]

In [36]:
d = {"student_1": 90, "student_2": 80, "student_3": 72}

In [38]:
for k in d:
    value = d[k]
    
    if value > 85:
        print(k)

student_1

 * Aynı anda hem key hem de value'larda iterasyon yapmak için:


 * Variable unpacking konusunda bir tuple, liste gibi yapıların değerlerini birden çok değişkene bir seferde eşitlemeyi görmüştük.


 * Bunun aynısını iterasyonda da yapabiliriz.

In [40]:
for k,v in d.items():
    print("key değeri:", k, "value değeri:", v)

key değeri: student_1 value değeri: 90
key değeri: student_2 value değeri: 80
key değeri: student_3 value değeri: 72

# split()
 * Belirli bir bölme kriterine göre string'in alt parçalarını listenin elemanları olarak dönüştürebiliriz.

In [43]:
s = "merhaba nasılsın ?"

 * split()'in içine neye göre böleceğimizi yazarız.

In [45]:
s.split(" ")

['merhaba', 'nasılsın', '?']

 * hiç bir şey yazmazsak default olarak boşluğa göre böler.

In [46]:
s.split()

['merhaba', 'nasılsın', '?']

In [47]:
s2 = "limon,portakal,elma"

In [48]:
s2.split()

['limon,portakal,elma']

In [49]:
s2.split(",")

['limon', 'portakal', 'elma']

# Join()
 * listenin elemanları arasına belirtilen yapıyı koyup string'e dönüştürür.


 * "patern".join(elemanları kullanılacak liste)

In [50]:
l = ['limon', 'portakal', 'elma']

In [51]:
",".join(l)

'limon,portakal,elma'

In [52]:
s = ",".join(l)

In [53]:
s

'limon,portakal,elma'

In [54]:
"-".join(l)

'limon-portakal-elma'

In [55]:
"/".join(l)

'limon/portakal/elma'

In [56]:
" ".join(l)

'limon portakal elma'

# List Comprehensions
 * Yine o yeni bir şey öğrenmediğimiz ama yaptığımız şeyleri daha farklı ve kolay yapmayı öğrendiğimiz bir konudayız.


 * Diyelim ki 1'den 10'a kadar olan sayıların karelerinden bir liste oluşturmak istiyorum. Bunu aşağıdaki gibi yapabilirim.

In [62]:
squares = []

In [63]:
for i in range(1,11):
    squares.append(i*i)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

 * Bunun aynısını list comprehension kullanarak da yapabiliriz.

In [64]:
squares = [i * i for i in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [65]:
# list comprehension ve fonksiyon mantığını birleştirme

In [66]:
def cube(x):
    return x * x * x # x ** 3

In [68]:
cubes = [cube(x) for x in range(1,11)]

In [70]:
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# List Comprehension'larda Conditional Yapıların Kullanılması

In [71]:
squares = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [72]:
odd_squares = []

for e in squares:
    if e % 2 ==1:
        odd_squares.append(e)
        
odd_squares

[1, 9, 25, 49, 81]

In [73]:
# squares listindeki tek elemanlardan yeni bir liste yaratmak

odd_squares = [e for e in squares if e % 2 == 1]


odd_squares

[1, 9, 25, 49, 81]

In [75]:
# bu test mantığını fonksiyonla da sağlayabilirdik
def is_odd(x):
    if x % 2 == 0:
        return False
    if x % 2 == 1:
        return True

odd_squares = [e for e in squares if is_odd(e)]

odd_squares

[1, 9, 25, 49, 81]

In [76]:
def empty(x):
    if x % 2 == 0:
        return False
    if x % 2 == 1:
        return False

empty_squares = [e for e in squares if empty(e)]

empty_squares

[]

In [77]:
def is_even(x):
    if x % 2 == 0:
        return True
    if x % 2 == 1:
        return False

even_squares = [e for e in squares if is_even(e)]

even_squares

[4, 16, 36, 64, 100]

In [78]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [80]:
weird_squares = [e if e % 2 == 0 else -1 for e in squares]

In [81]:
weird_squares

[-1, 4, -1, 16, -1, 36, -1, 64, -1, 100]

In [82]:
ultra_weird_squares = [e if e % 2 == 0 else -1 for e in squares if is_even(e)]

In [83]:
# Q. Soru: Bunun çıktısı ne olur ?
ultra_weird_squares

[4, 16, 36, 64, 100]

# Set Comprehension

In [84]:
numbers = [1,2,3,4,5,6,7,1,2]

In [85]:
set_numbers = {s for s in numbers if s in [1,2,3,4,5,6,1,2]}

In [87]:
set_numbers

{1, 2, 3, 4, 5, 6}

# Dictionary Comprehension

In [88]:
square_dict = {e:e * e for e in range(1,11)}

In [89]:
square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [90]:
square_dict[9]

81

# Nested List Comprehension

In [95]:
m = [[j for j in range(7)] for i in range(5)]

In [96]:
m

[[0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6]]

In [97]:
m = [[10, 11, 12], [13, 14], [15, 16, 17, 18]]

In [98]:
for l in m:
    print(l)

[10, 11, 12]
[13, 14]
[15, 16, 17, 18]

In [99]:
new_m = []
for l in m:
    print(l)
    for e in l:
        new_m.append(e)
        print(e)

[10, 11, 12]
10
11
12
[13, 14]
13
14
[15, 16, 17, 18]
15
16
17
18

In [100]:
new_m

[10, 11, 12, 13, 14, 15, 16, 17, 18]

In [101]:
m

[[10, 11, 12], [13, 14], [15, 16, 17, 18]]

In [103]:
# matrixi list comprehension ile flat etmek

flatten_m = [e for l in m for e in l]

In [104]:
flatten_m

[10, 11, 12, 13, 14, 15, 16, 17, 18]

In [105]:
# Sadece çift değerleri kabul edecek

flatten_m = [e for l in m for e in l if e % 2 == 0]

In [106]:
flatten_m

[10, 12, 14, 16, 18]

# Variable Unpacking
 * Şimdiye kadar hep tek değişkene tek değer verdik.


 * Peki bir seferde birden çok değişkene değer vermek için ne yaparız?


 * Aşağıdaki kodun sonucu,
  
  x=4

  y=7

  ile aynı

In [107]:
x, y =(4, 7)

In [108]:
x

4

In [109]:
y

7

 * 2'den çok değere de bunu yapabiliriz.

In [110]:
x, y, z = (4, 7, 11)

In [111]:
print(x, y ,z)

4 7 11

 * Bazı Değerlere İhtiyacım Yoksa:


 * Diyelim ki soldaki yapının sadece birinci elemanına bir değer eşitleyip kullanmak istiyorum. Daha önce döngülerde yaptığımız gibi kulllanmayacağımız değişkene _ diyebiliriz.

In [112]:
x, _ = (4, 7)

In [113]:
#Sol ve Sağdaki Yapı Farklı Sayıdaysa:

In [114]:
x, y, z = (4, 7, 11, 4, 21)

ValueError: too many values to unpack (expected 3)

 * Bunu gidermek için * yapısını kullanacağız. Aşağıdaki kod şu demek oluyor: İlk iki elemanı x ve y'ye eşitle, sonuna kadar kalan diğer tüm elemanları z'ye eşitle. Bunun sonunda z 11,2,21'den oluşacak, tipi list olacak.

In [115]:
x, y, *z = (4, 7, 11, 4, 21)

In [116]:
x

4

In [117]:
y

7

In [118]:
z

[11, 4, 21]

In [120]:
type(z)

list

 * Diyelim ki ilk 2 'sini eşitleyip kalan hepsini görmezden gelmek istiyorum.

In [122]:
x, y, *_ = (4, 7, 11, 12, 13)

In [123]:
x

4

In [124]:
y

7

 * İlk 2 ve son değeri belirli bir değişkene, arada kalanların hepsini başka bir değişkene eşitlemek istiyorsam:

In [125]:
x, y, *z, t = (4, 7, 11, 4, 21)

In [126]:
x

4

In [127]:
y

7

In [128]:
z

[11, 4]

In [129]:
t

21

 * Aynı şekilde son 2'yi de belirtebiliriz.

In [130]:
x, y, *z, t, u = (4, 7, 11, 4, 21, 32, 2)

In [131]:
z

[11, 4, 21]

In [132]:
t

32

In [133]:
u

2

 * Ama aşağıdaki kod error verir, çünkü y ve t için kaç tane alacağını bilmiyor.

In [134]:
# It will give an error
x, *y, *t = (4, 7, 11, 4)

SyntaxError: multiple starred expressions in assignment (928660696.py, line 2)

# Enumerate
 * for ile non-scalar yapılar içerisinde dolaşırken ya elemanları ya da indexleri üzerinde dolanmıştık, ama neden ikisi de aynı anda olmasın?


 * Variable Unpacking konusunda bir tuple, liste gibi yapıların değerlerini birden çok değişkene bir seferde eşitlemeyi görmüştük.


 * Bunun aynısını iterasyonda da yapabiliriz.

In [135]:
l = [(1,2), (10,20)]

In [136]:
for e in l:
    print(e)

(1, 2)
(10, 20)

In [137]:
for e in l:
    a, b = e
    print(a)
    print(b)
    print("*********")

1
2
*********
10
20
*********

In [138]:
for a, b in l:
    print("tuple'ın ilk elemanı", a)
    print("tuple'ın ikinci elemanı", b)
    print("-----------------------------")

tuple'ın ilk elemanı 1
tuple'ın ikinci elemanı 2
-----------------------------
tuple'ın ilk elemanı 10
tuple'ın ikinci elemanı 20
-----------------------------

 * enumerate() bize (index, element) olarak verecek.

In [139]:
adlar = ['Tyler', 'Blake', 'Cory', 'Cameron']

In [140]:
for e in adlar:
    print(e)

Tyler
Blake
Cory
Cameron

In [141]:
for i, e in enumerate(adlar):
    print(i, "indexindeki eleman:", e)

0 indexindeki eleman: Tyler
1 indexindeki eleman: Blake
2 indexindeki eleman: Cory
3 indexindeki eleman: Cameron

 * enumerate() 0'dan başlamak zorunda değil, özellikle kaçtan başlayacağını belirtebiliriz.

In [143]:
for i, e in enumerate(adlar, start = 100):
    print(i, "lokasyonunda bulunan eleman:", e)

100 lokasyonunda bulunan eleman: Tyler
101 lokasyonunda bulunan eleman: Blake
102 lokasyonunda bulunan eleman: Cory
103 lokasyonunda bulunan eleman: Cameron

# zip()
 * Farklı yapıların içinde paralel iterasyon yapmamızı sağlar.

In [154]:
ogrenciler = ["ogrenci_1", "ogrenci_2", "ogrenci_3"]

In [155]:
notlar = [90,80,72]

In [156]:
for s, g in zip(ogrenciler, notlar):
    print(s, g)

ogrenci_1 90
ogrenci_2 80
ogrenci_3 72

In [157]:
for e in zip(ogrenciler, notlar):
    print(e)

('ogrenci_1', 90)
('ogrenci_2', 80)
('ogrenci_3', 72)

In [158]:
for i in range(len(ogrenciler)):
    print(ogrenciler[i], notlar[i])

ogrenci_1 90
ogrenci_2 80
ogrenci_3 72

 * zip() örnek

In [161]:
# Her ayki karı hesaplamak
satis = [3500.00, 76300.00, 67200.00]

In [162]:
maliyet = [56700.00, 21900.00, 12100.00]

In [163]:
for i in range(len(maliyet)):
    s = satis[i]
    c = maliyet[i]
    
    kar = s - c
    print(f'Total profit: {kar}')

Total profit: -53200.0
Total profit: 54400.0
Total profit: 55100.0

In [166]:
satis = [3500.00, 76300.00, 67200.00]
maliyet = [56700.00, 21900.00, 12100.00]
for s, c in zip(satis, maliyet):
    
    kar = s - c
    print(f'Total profit: {kar}')

Total profit: -53200.0
Total profit: 54400.0
Total profit: 55100.0

 * zip() ile Dictionary Yaratmak:

In [167]:
keys = ['isim', 'soyad', 'ulke', 'is']
values = ['Denis', 'Walker', 'Turkey', 'data scientist']

In [173]:
d = {}
for k, v in zip(keys, values):
    d[k] = v

In [170]:
d

{'isim': 'Denis', 'soyad': 'Walker', 'ulke': 'Turkey', 'is': 'data scientist'}

In [174]:
d = {}
for i in range(len(keys)):
    k = keys[i]
    v = values[i]
    
    d[k] = v

In [175]:
d

{'isim': 'Denis', 'soyad': 'Walker', 'ulke': 'Turkey', 'is': 'data scientist'}

In [172]:
d["isim"]

'Denis'

# Fonksiyonlar


 * Çok kod yazmak her zaman iyi bir şey demek değil.


 * Minimal ve okunabilir olması daha önemli.


 * Gereksiz kod tekrarından kaçınmak gerekir.


 * Bu konularda gayet yardımcı olabilecek bir yapıyı göreceğiz bugün. - fonksiyonlar


 * Belirli Fonksiyonalite katan kod bloklarını belirli bir yapı altında tutup, o işleme ihtiyaç duyduğum zaman tekrar tekrar kullanabilirim. Bu yapı fonksiyonlar


 * Fonksiyonlar kodumuzda abstraction (soyutlama) ve decomposition (problemi küçük parçalara ayırma) (modülerlik) yapmamızı sağlar.


# Abstraction Nedir?



Bir araba düşünün:



 * Araba bizi istediğimiz yere götüren bir araçtır.


 * Arabanın hareketini sağlayan arka planda çokça mekanizma var.


 * Motor, yanma vs gibi...


 * Ama aracı kullanırken bunları hiç düşünmüyoruz, sürmemiz için gerekli olan sadece pedallara basmak ve direksiyonu çevirmek.


 * abstraction 'nın temel mantığı ayrıntılardansa bütünü düşünmek. Arabayı kullanmak için, arabanın nasıl çalıştığının ayrıntısını bilmeme gerek yok. Tek bilmem gereken direksiyon ve pedallar ile nasıl kontrol edebileceğim.



Bu mantık yanlış anlaşılmasın. Bu "Kodun bazı kısımlarını yazmakla ilgilenmeyeceğiz." anlamına gelmiyor. İstediğimiz komutlar bütününü bir fonksiyon altında toplayıp (bu örnekte tüm o ateşleme, motorun çalışmasını pedal fonksiyonu altına topladığınızı düşünün), artık o eylemi yapmak istediğim zaman sadece o fonksiyonu çağırıyorum ve bu fonksiyonun yaptığını kullanarak daha komplike davranışlar tanımlayabiliyorum. Buradaki en önemli nokta, üst üste koyarak inşa ettiğim yapıda yazdığım fonksiyonların ayrıntılarındansa ne yaptıklarını bilip ona göre üzerilerine, onları yapının bir parçası olarak görerek mantık kurmak.



Özet olarak: Fonksiyonun o işi nasıl yaptığıyla ne yaptığını ayırmak ve ne yaptığına odaklanıp onun üzerine mantık kurmak.

# Decomposition Nedir?



Elimdeki problemi kendi içerisinde anlamlı, daha küçük problemlere bölmektir. Arabanın çalışması arkada yatan bir çok mekanizmayla gerçekleşir. Motorun ateşlenmesi, havanın motora alınması, yakıtın aktarılması vs... Bunların hepsini aslında ayrı ayrı fonksiyonlar olarak düşünebiliriz. Problemi (arabanın hareket etmesini) alt birimlere ayırıp, tanımlayıp, çözüyoruz. Birden çok alt yapı bir arada çalışıp daha büyük bir sistem oluşturuyor.



Kodumuzun farklı yerlerinde kullanılabilecek, beraber bir mantık oluşturacak kodlarımı fonksiyon tanımlayıp içine yazacağım.


Fonksiyonların adı, parametreleri(0 veya daha fazla), açıklaması(opsiyoneli ama iyi bir pratik), ve kodları bulunur.


Sadece adlarını yazınca çağrılmazlar. () ile çağırmamız lazım (function call veya function invocation olarak geçer.)

 * Bir fonksiyonu çalıştırdığımızda onun sonucuyla bir şeyler yapmak isteyebilirim. Sonucu bana versin diye özellikle söylemem lazım ve bunu return keyword(anahtar kelime)'u ile sağlayacağız.
 * return yazmasaydık fonksiyon hiç bir şey döndürmezdi.
 * fonksiyon tanımladığımı Python'a anlatmak için yapım:
 
 def fonksiyonun_adı(input):

 * öbür yapılarda da olduğu gibi, bir kod bloğunun belirttiğimiz yapıya ait olduğunu anlatmak için boşluk bırakarak içine yazmamız gerekiyor.
 * Verdiğimiz değerin karesini alan bir fonksiyon yazalım.

In [178]:
def square(x):
    x * x

 * fonksiyonu tanımladıktan sonra tanımladığımız adla onu çağırabiliriz. Yapımız şöyle olacak: fonksiyonun_adı(input), bir fonksiyonu çağırmak için inputları ()'ın içine yazmalıyız. Bazı durumlarda hiç input olmayabilir, bazı durumlarda birden çok olabilir.

In [179]:
square(3)
a = square(3)

In [182]:
a
print(a)

None

In [183]:
type(a)

NoneType

In [184]:
type(square(3))

NoneType

 * bize x*x i değer olarak vermedi. Vermesi için bana o değeri döndür diye özellikle söylemem lazım. Bunu return ile sağlıyoruz.

In [185]:
def square(x):
    return x * x
square(2)

4

In [187]:
a = square(2)
a

4

In [188]:
b = 4

In [189]:
b + 2

6

 * Bu döndürülen değerin int 4 'ten bir farkı yok, nereden nasıl geldiği önemli değil, a = 4 dediğimdeki 4 ile aynı. Bu değerle istediğimi yapabiliriz

In [190]:
1 + square(2)

5

 * Bilgisayar için o da sadece bir değerdi. Aşağıdaki örnekte de square(3) bize 9 döndürüyor, bilgisayar için aşağıdaki kod, square(9) ile aynıdır.

In [191]:
square(square(3))

81

 * hiç bir inputu olmaya da bilirdi

In [192]:
def weird():
    return 5

In [193]:
weird()

5

 * Fonksiyonlar return'e geldikten sonrasına bakmıyor, return 'ün sağına yazılan değeri veriyor ve fonksiyondan çıkıyor.

In [194]:
def square(x):
    
    res = x * x
    
    return res
    print("Square of " + str(x) + ": " + str(res))

 * Bu yüzden burada bastırma kısmını yapmadı çünkü o kod return 'ün altında yer alıyor.

In [195]:
square(4)

16

In [196]:
square(4) + 2

18

In [197]:
def square(x):
    
    res = x * x
    
    print("Square of " + str(x) + ": " + str(res))
    
    return res

In [198]:
square(4)

Square of 4: 16

16

 * Fonksiyona durumsallık da katabiliriz.

In [199]:
def f(x):
    res = x * x
    
    if x % 2 == 0:
        return res
    else:
        return res + 10
    
    print("Square of " + str(x) + ": " + str(res))

In [200]:
f(10)

100

In [201]:
f(13)

179

 * Fonksiyonların içinde döngü mantığı da olabilir.

In [202]:
x = 300

In [217]:
def f(x):
    
    res = x * x
    
    for i in range(10):
        res += 20
        return res
    print("hey")

In [218]:
f(10)

120

In [219]:
f(10) + 23

143

In [212]:
def f(x):
    
    res = x * x
    
    for i in range(10):
        res += 20
        
    return res

In [213]:
f(10)

300

In [221]:
def f(x):
    
    l = []
    res = x * x
    for i in range(10):
        res += 20
        l.append(res)
    return l

In [222]:
f(10)

[120, 140, 160, 180, 200, 220, 240, 260, 280, 300]

# Void Fonksiyonlar (Değer Döndürmeyen Fonksiyonlar)

In [223]:
def f(x):
    x = 2

In [224]:
f(2)

In [225]:
f(10) + 4

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [226]:
print(f(3))

None

In [227]:
type(f(3))

NoneType

In [228]:
# Bu kod x in karesini değer olarak bize vermiyor, sadece ekrana bastıracak
def square(x):
    
    print(x,"in/ün/un karesi:", x*x)


square(3)

3 in/ün/un karesi: 9

In [229]:
type(square(4))

4 in/ün/un karesi: 16

NoneType

In [230]:
# hem bir değer bastırıp aynı anda o değeri döndüre de bilirdi

def square(x):
    
    res = x * x
    
    print(x,"in/ün/un karesi:", x*x)
    
    return res

In [231]:
square(4)

4 in/ün/un karesi: 16

16

In [232]:
square(4) + 2

4 in/ün/un karesi: 16

18

# Fonksiyonlara Açıklama Yazmak

In [ ]:
def square(x):
    
    res = x * x
    
    return res

In [238]:
?square # jupyter notebookda bana çalıştırdığım fonksiyonun açıklamasını verir.

Object `square # jupyter notebookda bana çalıştırdığım fonksiyonun açıklamasını verir.` not found.

In [237]:
??square # iki tane kullanırsam bana daha detaylı bir açıklama verir

Object `square # iki tane kullanırsam bana daha detaylı bir açıklama verir` not found.

In [240]:
def square(x):
    """
    x'in karesini hesaplar
    """
    return x * x

In [241]:
?square

In [242]:
??square

# Birden Çok Input
 * Fonksiyonların birden çok parametresi olabilir.

In [243]:
def square(x):
    return x * x

In [244]:
square(3)

9

In [245]:
def power(x, y):
    
    return x ** y
power(2, 3)

8

 # Birden Çok Değer Döndüren Fonksiyonlar

In [246]:
def f(x):
    
    return 2*x, 20*x

In [247]:
f(10)

(20, 200)

 * Bana sonucu tuple olarak döndürdü.


 * Variable Unpacking kısmında gördüğümüz gibi bu iki değeri farklı değişkenlere eşitleyebilirim.

In [248]:
a, b = f(10)

In [249]:
a

20

In [250]:
b

200

In [251]:
def f(x,y):
    
    return 2*x*y, (10*x)**y

In [252]:
f(10,2)

(40, 10000)

# Predefined Parameters

In [276]:
def hello(end, start = "Hello"):
    
    print(start + " " + end)

In [277]:
hello("Denis")

Hello Denis

In [279]:
hello("Denis", start = "Hey")

Hey Denis

In [280]:
hello("Denis","Hey")

Hey Denis

In [281]:
hello("Denis")

Hello Denis

In [282]:
def power(x, y = 1):
    
    return x ** y
power(3)

3

In [283]:
power (4, 2)

16

In [284]:
# Aksini belirtmezsek predefined değerleri kullanacak fonksiyon
# predefined olarak vereceğimiz değerleri en sona yazmalıyız yoksa hata alırız
def hello(start = "Hello", end):
    
    print(start + end)

SyntaxError: non-default argument follows default argument (3278829179.py, line 3)

In [285]:
def f(x, y = 1, z = 2):
    
    return x + y + z

In [286]:
f(2)

5

In [287]:
f(2, 5)

9

In [288]:
f(2, 5, 6)

13

# Argümanların Değerlerinin Güncellenip Güncellenmediği Durumlar
 * Integer ve Floatların Değerlerin Değişmez

In [289]:
a = 2

In [292]:
def f(x):
    x = 4
    return x

In [293]:
f(a)

4

In [294]:
a

2

In [295]:
b = 3.4

In [296]:
f(b)

4

In [297]:
b

3.4

 * LİSTLER

In [298]:
l = [1,2,3]

In [299]:
l2 = l.copy()

In [300]:
l2

[1, 2, 3]

In [301]:
l

[1, 2, 3]

In [302]:
l2[0] = 10

In [303]:
l

[1, 2, 3]

In [304]:
def f(l):
    l[0] = "a"
    return l

In [305]:
f(l)

['a', 2, 3]

In [306]:
l

['a', 2, 3]

In [307]:
def f(l): l = ["a", "b", "c"] # l[0] = ["a", "b", "c"] return l

In [308]:
l = [1,2,3]

In [309]:
def f(x):
    
    x[0] = 2
    
    return x

In [310]:
def f(penguin):
    
    penguin[0] = 2
    
    return penguin

In [311]:
f(l)

[2, 2, 3]

In [312]:
l

[2, 2, 3]

In [313]:
l = [1,2,3]

In [314]:
def f(x):
    l2 = x.copy()
    l2[0] = 2
    
    return l2

In [315]:
f(l)

[2, 2, 3]

In [316]:
l

[1, 2, 3]

# First Class Function


 Python'da fonksiyonlar first class function olarak değerlendirilir. Bunun anlamı fonksiyonların diğer veri tipleri gibi manipüle edilebilir ve başka fonksiyonlara argüman olarak verilebilir.


 Bir fonksiyonu bir değişkene atayabiliriz.

In [320]:
def kare(x):
    return x**2

In [321]:
a = kare

In [322]:
kare(5)

25

In [323]:
a(5)

25

 Bir fonksiyonu başka bir fonksiyona argüman olarak verebiliriz.

In [324]:
def f2(x, f):
    return f(x) + 4

In [325]:
f2(3, kare)

13

In [326]:
def f3(x):
    return x**5

In [327]:
f2(2, f3)

36

# Fonksiyonları Obje Olarak Kullanmak


Python'da fonksiyonların first class function olduklarını konuşmuştuk.


Şimdi bu mantığı kullanarak belirli fonksiyonları listenin elemanlarına uygulayacağız.

In [331]:
l = [1,2,3,4]

In [332]:
def apply(l, f):
    """
    l bir liste, 
    f listenin tüm elemanlarına uygulanacak fonksiyon
    sonunda listenin orijinali elemanlarına fonksiyonun uygulanmış haliyle güncellenir
    """
    
    n = len(l)
    
    for i in range(n):
        l[i] = f(l[i])

In [333]:
def kare(x):
    return x**2

In [334]:
apply(l,kare)

In [335]:
l

[1, 4, 9, 16]

 Tüm elemanlara fonksiyon uygulandı ve güncelledik.

In [336]:
l = [1,2,3,4]

In [337]:
def kup(x):
    return x**3
apply(l, kup)

In [338]:
l

[1, 8, 27, 64]

 Fonksiyonlar Listesini Belirli Bir Değere Uygulamak

In [341]:
def apply_funcs(f_list, x):
    l = []
    for f in f_list:
        l.append(f(x))
    
    return l

In [343]:
apply_funcs([kare, kup], 5)

[25, 125]

# Underscore Placeholders

In [345]:
num_1 = 90000000000

 * Kaç tane 0 var burada ? 1,2,3,4... bir tanesini atladım mı? Nerede kalmıştım, başa dönüp bir daha sayayım... Pff yok mu bunun daha okunabilir bir yolu?


 * Cevap tabii ki de evet. Sayıları arka planda algılanmasını değiştirmeden, ama bize daha kolay okunabilir yapan bir yöntem var.

In [346]:
num_2 = 90_000_000_000

 * Sayıların arasına alttan çizgi koymak!


 * Bu bilgisayarın sayıları algılamasını değiştirmiyor, o onları görmezden geliyor, ama bizim için daha okunabilir oluyor.

In [347]:
num_1

90000000000

In [349]:
num_2

90000000000

 * Bilgisayar için 90_000_000_000 ile 90000000000 sayısının hiç bir farkı yok!

In [350]:
type(90_000_000_000)

int

In [352]:
type(90000000000)

int

In [353]:
num_1 = 90000000000

In [354]:
num_2 = 90_000_000_000

In [355]:
num_1 - num_2

0

 * Bu mantığı float veri tipleri için de kullanabiliriz.

In [356]:
num_3 = 0.12_11_12

In [357]:
num_3

0.121112

# F-Strings


 * Değişkenlerimizin değerlerini direkt olarak string'lerin içine koymak isteyebiliriz.


 * f-string de yaptığımız tek şey aslında değişkenlerin değerlerini veya hesaplamaların sonucunu stringin içine gömmek.


 * f"..." diye göreceğimiz yapının adını String Interpolation diye görebilirsiniz.

In [358]:
x = 2

 * Diyelim ki ekrana x'in değerini bastırmak istiyorum. Bu durumda istediğim şey "x in değeri 2" diye bastırmak. Bunu şöyle yapabilirim:

In [359]:
"x in değeri" + " " + str(x)

'x in değeri 2'

 * Ama ayrı ayrı yazmaya ihtiyaç olmadan direkt x'in değerini string'in içine gömebilseydim daha iyi olmaz mıydı ?

In [360]:
f"x in değeri {x}"

'x in değeri 2'

 * İçine değer gömeceğimiz string'i tanımlarken başına f yazarak başlıyoruz f"....". Gömmek istediğimiz değeri/değişkeni süslü parantez içine yazıyoruz f".....{}....". Birden çok değer de gömmek isteyebiliriz, o zaman kaç tane yapacaksak o kadar süslü parantez koymamız gerekirdi f".....{}....{}.."


 * Python'ın yaptığı şey süslü parantezin içini hesaplayıp stringin içine gömmek.

In [361]:
f"x in değerinin iki fazlası {x+2}"

'x in değerinin iki fazlası 4'

 * {x+2} kısmında python x+2'yi hesapladı ve string'in içine cevabın değerini gömdü.

In [362]:
isim = input("İsim:")

İsim:sema

In [363]:
f"verilen isim {isim}"

'verilen isim sema'

In [ ]:
l = [1,2,3,4]

In [364]:
f"verilen liste {l}"

'verilen liste [1, 8, 27, 64]'

 * {} içerisine değeri hesaplanacak herhangi bir şey yazılabilir.

In [365]:
f"verilen isim {isim.capitalize()}"

'verilen isim Sema'

 * Süslü parantezin içine fonksiyon da yazabiliriz.

In [366]:
def kare(x):
    return x**2

In [367]:
x = 10

In [368]:
f"{x} sayısının karesi {kare(x)}"

'10 sayısının karesi 100'

In [24]:
def foo(a, b=4, c=6):
    print(a, b, c)
 
foo(20, c=12)

20 4 12

In [25]:
numbers = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
result = [num + 3 for num in numbers if num % 2 == 0]
print(result)

[5, 11, 37]